#video-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#video-container > div {
  position: relative;
  height: fit-content;
  margin-bottom: 20px;
  margin-right: 20px;
  overflow: hidden;
}

#video-container > div > video {
  max-width: 70%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 6px;
  border: 1px solid rgb(88, 88, 214);
}

/* progress bar class */
.invisible {
  display: none;
}  

#stream > video {
  max-width: 70%;
  max-height: 80%;
  border-radius: 6px;
}

#stream{
  max-width: 70%;
  max-height: 80%;
  width: auto;
  margin: auto;
}